nav {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  position: fixed;

  .navHolder {
    // background-color: beige;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .logo {
      margin-top: 13px;
      width: 50vh;

      img {
        width: 217px;
        height: 55px;
      }
    }

    .name {
      height: 75px;
      margin-top: 15px;
      font-family: CaveatReg;
      font-size: 30px;
      margin-right: 20px;
      text-transform: uppercase;
    }
  }
}

.bars {
  display: none;
  cursor: pointer;
}

.bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.bar.active {
  display: flex;
  justify-content: space-between;
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bars.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.links {
  // background-color: aqua;
  height: 75px;
  width: 50vw;
  overflow: hidden;
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: height 0.4s, opacity 0.5s ease-in;

  a {
    text-decoration: none;
    font-family: CaveatReg;
    font-size: 25px;
    margin-right: 20px;
    color: black;
  }

  .logIn {
    width: 90px;
    height: 50px;
    padding: 8px;
    background-color: #ffd972;
    margin-top: 13px;
    text-decoration: none;
    font-family: CaveatReg;
    font-size: 25px;
    margin-right: 20px;
    color: black;
    border: none;
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .signOutBtn {
    width: 90px;
    height: 50px;
    padding: 8px;
    background-color: #ffd972;
    margin-top: 13px;
    text-decoration: none;
    font-family: CaveatReg;
    font-size: 25px;
    margin-right: 20px;
    color: black;
    border: none;
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.links.active {
  opacity: 1;
}

.links.mobile {
  height: 100vh;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .bars {
    margin-top: 13px;
    display: block;
    // margin-left: 20px;
  }

  .links {
    height: 410px;
    opacity: 0;
    flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 35vw;

    a {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 360px) {
}
